.progress-card-lane {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
}

.progress-card-lane-base, .progress-card-lane-bar {
	flex-grow: 1;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
}
.progress-card-lane-bar {
	z-index: 2;
}

.progress-card-lane-base {
	z-index: 1;
}

.progress-card-lane-bar-content, .progress-card-lane-base-content {
	font-style: italic;
	font-size: 12px;
}

.progress-card-lane-base-content {
	padding-left: 10px;
	padding-right: 24px;
}

.progress-card-lane-bar-content {
	padding-left: 24px;
}