.projectLane {
  /*background-color: gray;*/
}

.vertical-text {
	transform: rotate(270deg);
	/*transform-origin: left top 0;*/
	transform-origin: center center 0;
  /*float: right;*/
  display:block;
  margin:150px auto auto auto;
  white-space: nowrap;
}
