@import "CardLanes/CardLanes";
.project-lane .branch-card {
	.card-title {
		word-wrap: break-word;
	}

	.status-lanes {
		bottom: 0px;
		left: 0px;
		position: absolute;
		width: 100%;
	}
	.card.small {
		height: 375px;
	}
}