$sm: 540px;
$md: 720px;
$lg: 960px;
$uhd: 3400px;

.default-media-query {
	@media screen and (max-width: $sm) {
	}
	@media screen and (min-width: $md) {
	}
	@media screen and (min-width: $lg) {
	}
	@media screen and (min-width: $uhd) {
	}
}